<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="border: 1px solid black; padding: 10px; width: 1000px; height: 100px;">
  <h2>실습1 : 버튼 클릭 알림</h2>
  <button>클릭해봐!</button>
</div><br>
<div style="border: 1px solid black; padding: 10px; width: 1000px; height: 100px;">
  <h2>실습2 : 이름 입력 및 출력</h2>
  <input type="text" id="사용자이름" name="이름" required> <button>제출</button>
</div><br>
<div style="border: 1px solid black; padding: 10px; width: 1000px; height: 100px;">
  <h2>실습3 : 덧셈 계산기</h2>
  <input type="text" id="숫자1" name="숫자1" required> <input type="text" id="숫자2" name="숫자2" required> <button>계산</button>
</div>
</body>
</html>