<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.test.mapper.RecipeMapper">
    <select id="selectAllRecipes" resultType="com.spring.test.domain.RecipeVO">
        SELECT ID
             ,NAME
             ,CATEGORY
             ,CALORIES
        FROM RECIPES
    </select>
</mapper>

